extends layout

block hero-unit
  .jumbotron
    .container
      h1 Ho-Ong-E Survey

block content
  .container
    .row
      .col-md-6
        h3 설문 조사
        p 설문 조사 사이트입니다.
        p 설문 조사를 위하여 왼쪽 상단의 'Survey'를 눌러주세요.
      .col-md-6
        h3 주요 기능
        ul
          li 회원가입 후 로그인 하시면 설문조사 작성이 가능합니다.
          li 설문 조사 내용은 로그인 하지 않으셔도 볼 수 있습니다.
          li 주관식, 객관식, 의견 등의 설문 내용을 작성할 수 있습니다.
